// Layout

$widthMobile: 375px;
$widthDesktop: 1440px;

// Colors
/// Primary
@mixin linear-gradient($deg){
  background: linear-gradient($deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

/// Neutral
$vLightBlue: hsl(240, 78%, 98%);
$lightBlue: hsl(234, 14%, 74%);
$blue: hsl(233, 13%, 49%);
$darkBlue: hsl(232, 13%, 33%);

// Typography
/// Body Copy
body{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: $vLightBlue;
  background-image:url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 375px 658px, 353px 304px;
  header,main,footer{
    flex: 1 1 100%;
  }
}

h1{
  color: $blue;
  font-size:28px;
}

h2{
  color: $blue;
  font-size:20px;
  margin-bottom:30px;
}

header{
  margin:0px auto 65px;
  text-align:center;
  order:1;
}

label{
  color: $lightBlue;
  &.annually,&.monthly{
    margin-top:6px;
  }
  &.annually{ order:2; }
  &.monthly{ order:4; }
}

.faux-checkbox{ 
  order:3; 
  width:60px;
  height: 32px;
  @include linear-gradient(90deg);
  border-radius: 16px;
  margin: 0 25px;
  padding: 3px;
  &:before{
    content:'';
    display:block;
    height:26px;
    width:26px;
    background:white;
    border-radius:14px;
    transition: all 0.2s;
    will-change: transform;
  }
}

#price-toggle{
  display:none;
  & + .faux-checkbox + main .price .annually{ display:flex; }
  &:checked {
    & + .faux-checkbox + main .price .annually{ display:none; }
    & + .faux-checkbox + main .price .monthly{ display:flex; }
    & + .faux-checkbox{
      &:before{
        transform: translateX(100%);
      }
    }
  }
}

main{
  order:5;
  margin:0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  article{
    flex: 0 0 350px;
    text-align: center;
  }
}

.card{
  padding:30px;
  background:white;
  border-radius: 10px;
  box-shadow: 0px 8px 20px lighten($lightBlue, 20%);
  &.featured{
    box-shadow: none;
    position: relative;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
    @include linear-gradient(140deg);
    h2,ul,.price span{
      color: white;
    }
    ul{
      li{
        border-color: $lightBlue!important;
      }
    }
    .btn{
      background: white;
      color: $blue;
      &:hover{
        color: white;
        border-color: white;
      }
    }
  }
  &.pre-featured{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  &.post-featured{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .price{
    margin-top:0px;
    margin-bottom: 25px;
    line-height: 1;
    span{
      display:none;//overridden by main class
      align-items: center;
      font-size: 50px;
      color: $darkBlue;
      justify-content: center;
      small{
        margin-right: 5px;
        font-size: 0.6em;
      }
    }
  }
  ul{
    list-style-type: none;
    margin:0 0 30px;
    padding:0;
    li{
      border-bottom:1px solid $lightBlue;
      padding: 10px;
      &:first-child{
        border-top:1px solid $lightBlue;
      }
    }
  }
  .btn{
    display:flex;
    justify-content: center;
    align-items: center;
    @include linear-gradient(90deg);
    color: white;;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    height: 40px;
    border-radius: 5px;
    border:1px solid transparent;
    transition: 0.2s all;
    &:hover{
      background:transparent;
      color: $blue;
      border-color: $blue;
    }
  }
}

footer{
  order:6;
  position: absolute;
  bottom:10px;
  width: 100%;
  left:0px;
}