body { display: -webkit-box; display: flex; -webkit-box-align: start; align-items: flex-start; align-content: flex-start; -webkit-box-pack: center; justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row wrap; font-size: 15px; font-family: 'Montserrat', sans-serif; font-weight: 700; background-color: #f6f6fe; background-image: url(images/bg-top.svg), url(images/bg-bottom.svg); background-repeat: no-repeat, no-repeat; background-position: right top, left bottom; background-size: 375px 658px, 353px 304px; }

body header, body main, body footer { -webkit-box-flex: 1; flex: 1 1 100%; }

h1 { color: #6d708d; font-size: 28px; }

h2 { color: #6d708d; font-size: 20px; margin-bottom: 30px; }

header { margin: 80px auto 35px; text-align: center; -webkit-box-ordinal-group: 2; order: 1; }

label { color: #b3b5c6; }

label.annually, label.monthly { margin-top: 6px; }

label.annually { -webkit-box-ordinal-group: 3; order: 2; }

label.monthly { -webkit-box-ordinal-group: 5; order: 4; }

.faux-checkbox { -webkit-box-ordinal-group: 4; order: 3; width: 55px; height: 32px; background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd)); background: linear-gradient(90deg, #a3a8f0, #696fdd); border-radius: 16px; margin: 0 25px; padding: 3px; position: relative; }

.faux-checkbox:before { content: ''; position: absolute; left: 4px; top: 4px; display: block; height: 24px; width: 24px; background: white; border-radius: 14px; -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out; will-change: transform; }

#price-toggle { display: none; }

#price-toggle + .faux-checkbox + main .price .annually { display: -webkit-box; display: flex; }

#price-toggle:checked + .faux-checkbox + main .price .annually { display: none; }

#price-toggle:checked + .faux-checkbox + main .price .monthly { display: -webkit-box; display: flex; }

#price-toggle:checked + .faux-checkbox:before { -webkit-transform: translateX(23px); transform: translateX(23px); }

main { -webkit-box-ordinal-group: 6; order: 5; margin: 70px auto 0; display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

@media (max-width: 1076px) { main { display: block; } }

main article { -webkit-box-flex: 0; flex: 0 0 350px; max-width: 350px; margin: 0; text-align: center; }

@media (max-width: 1076px) { main article { margin: 0 auto 30px; } }

.card { padding: 30px; background: white; border-radius: 10px; box-shadow: 0px 8px 20px #eeeef2; }

.card.featured { position: relative; z-index: 2; background: linear-gradient(140deg, #a3a8f0, #696fdd); }

@media (min-width: 1077px) { .card.featured { padding-top: 50px; padding-bottom: 50px; box-shadow: none; } }

.card.featured h2, .card.featured ul, .card.featured .price span { color: white; }

.card.featured ul li { border-color: #b3b5c6 !important; }

.card.featured .btn { background: white; color: #6d708d; }

.card.featured .btn:hover { color: white; border-color: white; }

@media (min-width: 1077px) { .card.pre-featured { border-bottom-right-radius: 0px; border-top-right-radius: 0px; } }

@media (min-width: 1077px) { .card.post-featured { border-bottom-left-radius: 0px; border-top-left-radius: 0px; } }

.card .price { margin-top: 0px; margin-bottom: 25px; line-height: 1; }

.card .price span { display: none; -webkit-box-align: center; align-items: center; font-size: 50px; color: #494c5f; -webkit-box-pack: center; justify-content: center; }

.card .price span small { margin-right: 5px; font-size: 0.6em; }

.card ul { list-style-type: none; margin: 0 0 30px; padding: 0; }

.card ul li { border-bottom: 1px solid #b3b5c6; padding: 10px; }

.card ul li:first-child { border-top: 1px solid #b3b5c6; }

.card .btn { display: -webkit-box; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd)); background: linear-gradient(90deg, #a3a8f0, #696fdd); color: white; text-transform: uppercase; letter-spacing: 1px; text-decoration: none; font-size: 12px; height: 40px; border-radius: 5px; border: 1px solid transparent; -webkit-transition: 0.2s all; transition: 0.2s all; }

.card .btn:hover { background: transparent; color: #6d708d; border-color: #6d708d; }

footer { -webkit-box-ordinal-group: 7; order: 6; margin-top: 20px; margin-top: 10px; }

@media (min-width: 1077px) { footer { position: absolute; bottom: 10px; width: 100%; left: 0px; margin: 0px !important; } }
